{% extends 'base.html.twig' %}
{% block body %}
<h1> Inscription </h1>
{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.mail) }}
    {{ form_row(registrationForm.numero) }}
    {{ form_row(registrationForm.adresse) }}
    {{ form_row(registrationForm.codepostal) }}
    {{ form_row(registrationForm.ville) }}
    {{ form_row(registrationForm.mot_de_passe, {
        label: 'Password'
        }) 
    }}
    <button type="submit" class="btn submit">S'inscrire</button>
{{ form_end(registrationForm) }}

<!--
<form action="{{path("inscription")}}" method="post">
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="user_name" placeholder="Nom"> *
    </div>
    <div>
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="user_prenom" placeholder="Prénom"> *
    </div>
    <div>
        <label for="mail">E-mail :</label>
        <input type="email" id="mail" name="user_mail" placeholder="E-mail"> *
    </div>
    <div>
        <label for="tel">Numéro de Téléphone :</label>
        <input type="text" id="tel" name="user_tel" placeholder="Téléphone"> *
    </div>
    <div>
        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" name="user_adresse" placeholder="Addresse">
    </div>
    <div>
        <label for="code_postal">Code Postal :</label>
        <input type="text" id="code_postal" name="user_code_postal" placeholder="Code Postal">
    </div>
    <div>
        <label for="ville">Ville :</label>
        <input type="text" id="ville" name="user_ville" placeholder="Ville">
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="user_passsword">
    </div>
    <button type="submit" class="submit">S'inscrire</button>
</form>
-->
<p></p>
{#% import 'alertes.html.twig' as msg %}
{{ msg.alert('Attention !', 'warning') }#}
{% endblock %}